* {
  box-sizing: border-box;
}

:root {
  --jm-purple: #512da8;
  --jm-grey: #282c34;
  --jm-dark-grey: #1a1d22;
}

.App {
  background-color: var(--jm-grey);
  min-height: 98vh;
}

.page {
  height: calc(98vh - 150px)
}