.data-block{
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.data-block-w-search{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.data-block-title{
    text-align: center;
    font-size: 32px;
    color: var(--jm-purple);
    width: 100%;
}

.data-block-content{
    width: 100%;
    height: calc(100% - 37px);
    overflow-y: scroll;
}

.data-block-content-w-search{
    width: 100%;
    height: calc(100% - 113px);
    overflow-y: scroll;
}

.searchbar{
    width: 70%;
    margin-bottom: 10px;
}

.data-box{
    text-align: center;
    font-size: 24px;
    color: black;
    width: 100%;
}

.grey{
    background-color: var(--jm-dark-grey);
}

.tab-switcher{
    position: absolute;
    top: 3px;
    right: 10px;
    width: 30px;
}

.conversation-box{
    height: 100%;
}

.conversation-panel{
    width: 100%;
    border-radius: 30px;
    border: 4px solid var(--jm-dark-grey);
    height: 100%;
    overflow: hidden;
    background-color: var(--jm-grey);
}

.height-fix{
    height: 100%;
}

.height-fix-w-panel{
    height: 100%;
    position: relative;
}

.background{
    background-color: var(--jm-dark-grey);
    height: 100%;
}

.conversation-box-title{
    padding-left: 4px;
    font-size: 26px;
    color: black;
}

.conversation-box-text{
    font-size: 20px;
    color: var(--jm-dark-grey);
    padding: 4px;
}