* {
  box-sizing: border-box;
}

.icon-button {
    height: 24px;
    width: 24px;
    margin: 2px;
    padding: 1px;
    border-radius: 4px;
    background-color: #522da891;
    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  }
  
  .icon-button:hover {
    background-color: var(--jm-purple);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  }
  
  .icon-button:active {
    box-shadow: none;
    background-color: #845ddf;
    transition: 0.3s background-color ease-in-out;
  }
